In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../data/driving_style_dataset_srilanka.csv")

In [6]:
df.head()

,trip_id,driver_id,vehicle_make,vehicle_model,origin,destination,distance_km,elevation_gain_m,trip_date,avg_speed,max_speed,acceleration_mean,acceleration_std,braking_intensity,trip_duration_min,road_type,weather,time_of_day,driving_style
0,TR000001,DRV0326,Tesla,Model 3,Jaffna,Trincomalee,66,28,2025-09-03 19:18:26,51.02,63.82,0.786,0.498,0.550,86,coastal,cloudy,evening,Normal
1,TR000002,DRV0106,Nissan,Leaf,Trincomalee,Kandy,216,191,2025-05-28 19:18:26,42.05,48.62,0.894,0.083,0.555,292,city,heavy_rain,night,Normal
2,TR000003,DRV0300,BYD,Atto 3,Jaffna,Galle,357,71,2025-02-19 19:18:26,43.56,52.19,1.051,0.258,0.337,476,highway,sunny,evening,Normal
3,TR000004,DRV0092,MG,ZS EV,Kurunegala,Matara,62,13,2025-07-23 19:18:26,56.39,67.60,1.435,0.791,0.488,68,rural,sunny,morning,Aggressive
4,TR000005,DRV0092,Tesla,Model 3,Batticaloa,Anuradhapura,101,66,2025-07-10 19:18:26,44.90,57.35,0.499,0.487,0.227,138,highway,sunny,afternoon,Eco

In [7]:
df.shape

(10000, 19)